ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline;
    text-align: center;
    width: 120px;
}

h1
{
  text-align: center;  
  margin-left: 100px;
}

h1 a {
    text-decoration: none;
    color: black;
}

.menu {
    margin-left: 40%;
}

.menu a {
    color: white;
    position: relative;
    padding: 10px;
    text-decoration: none;
    background-color: darkblue;
    text-align: center;
    width: 20%;
}

.menu a:hover, .menu a:active {
    background-color: blue;
}

div {
  display: flex; 
}

.cooperContainer{
    display: inline;
    background-color: antiquewhite;
    width: 60%;
    height: 20%;
    position: relative;
    text-align: center;
    padding: 20px;
}

.glimmerHeader {
    margin-top: 50px;
    
}

.glimmerContainer {
    display: inline;
    background-color: antiquewhite;
    width: 60%;
    position: relative;
    text-align: center;
    padding: 20px;
}

